<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
  <body>

 
    <table id="table" >  
      <thead>  
          <tr>  
              <th>Article ID</th>  
              <th>Name</th>
              <th>Color</th>
              <th>Price</th>          
          </tr>  
      </thead>  
       <tbody>  
       <% articles.forEach(function (article) { %>
          <tr>  
              <td><%= article.article_id %></td>  
              <td><%= article.name %></td>
              <td><%= article.color %></td>
              <td><%= article.price %></td>
              <td> <a href="articles/delete/<%= article.article_id %>">Eliminar</a></td>
          </tr>                                   
       <% }) %>
       </tbody>
  </table>   
  <h3><a href="/users"> Go to users</a></h3>
  <h3><a href="/"> Go to Home</a></h3>
  <form action="/articles" method="post">
    <input type="text" name="name">  
    <input type="text" name="color">  
    <input type="text" name="price">  
    <input type="submit" name="submit">  
    
 
  </form>
  </body>
</html>
