<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= name %></p>
    <p><%= lastname %></p>
    <p><%= email %></p>
    <p><%= phone %></p>
<% if (name == "Oscar"){ %>
    <h2><%= name %></h2>
    <%} %>

<% if (color == "azul") { %>
    <h2><%= color %></h2>
    <% } %>
  </body>
</html>
