<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employed Individual</title>
</head>

<body>
    <h1>vista de un solo empleado</h1>
    <p>id employed</p>
    <%= resultsemployed.id %>
    <p>name employed</p>
    <%= resultsemployed.name %>
    <p>name job</p>
    <%= resultsjob.name_job %> 

    <form action="/employed/update/<%= resultsemployed.id %>" method="post">
        <input type="text" name="name" value="<%= resultsemployed.name %>">
        <input type="text" name="lastname" value="<%= resultsemployed.lastname %>">
        <input type="text" name="name_job" value="<%= resultsjob.name_job %>">
        <input type="text" name="salary" value="<%= resultsjob.salary %>">
        <input type="number" name="year" value="<%= resultsemployed.year %>">
        <input type="email" name="email" value="<%= resultsemployed.email %>">
        <input type="password" name="password" value="<%= resultsemployed.password %>">
        <input type="submit">
    </form>
</body>

</html>